/* responsive mobile xs */
@media screen and (min-width:360px) and (max-width: 414px) {
    
    /* Navigazione destra */
    .menu{
        max-width:50px;
    }
    .none{
        display:none;
    }
    .playlist.none{
        display:none;
    }

    /* Barra Upgrade */
    .premium{
        max-height: 60px;
        min-width:calc(100% - 50px);
    }

    #upgrade{
        margin:10px 3px;
    }
    
    /* spazio contenuti */
    .content{
        min-width: calc(100% - 50px);
    }

    /* guida navigazione */
    .player-nav{
        min-width:80%;
    }
    .guided-choices{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .guided-choices li{
        min-width: calc((100% - 60px) / 4);
        margin: auto 5px;
    }

    /* spazio scorrimento */
    .overflow{
        min-width:100%; 
    }
    .wrapper{
        min-width: calc(100% - 15px);
        margin-left:5px;
        margin-right:10px;
    }
    .recent{
        min-height: 550px;
    }
    .suggest, .artist{
        min-height: 200px;
    }

    .item{
        min-width: calc((100% - 20px) / 2);
        max-height:150px;
    }
}

/* Responsive mobile s */

@media screen and (min-width:415px) and (max-width:767px){
    /* Regole generali */
    body{
        font-size:12px;
    }

    /* Navigazione destra */
    .menu{
        max-width: 150px;
        min-width: 140px;
    }

    #logo{
        min-width:100%;
    }
    #logo img{
        max-width:30px;
        display: inline-block;
        vertical-align: middle;
    }
    #logo h2{
        display: inline-block;
        font-size: 1.2em;
    }
    .nav img{
        max-width:20px;
        vertical-align: middle;
        margin-right: 10px;
    }
    
    #user-name img{
        max-width: 20px;
        display: inline-block;
        vertical-align: baseline;
        margin-top: 10px;
    }
    #user-name h3{
        display: inline-block;
        font-size: 18px;
        margin: 20px 5px;
    }
    #app span, .fa-circle-down{
        font-size: 8px;
    }
    #app{
        padding: 2px 20px;
    }

    /* Spazio contenuti */
    .content{
        min-width:calc(100% - 50px);
    }
    .overflow{
        min-width:100%;
    }
    /* Barra Upgrade */
    .premium{
        max-height: 60px;
        min-width:calc(100% - 140px);
    }
    
    #upgrade{
        min-height: 30px;
        min-width: 80px;    
    }

    /* guida navigazione */
    .player-nav{
        width:100%;
        margin:0;
    }
    .guided-choices{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .guided-choices li{
        max-width: calc((100% - 140px) / 3);
        margin: auto 5px;
    }

    /* spazio a scorrimento */
    .wrapper{
        max-width: calc(100% - 140px);
        margin-left:5px;
        margin-right:10px;
    }
    .recent{
        min-height: 550px;
    }
    .suggest, .artist{
        min-height: 200px;
    }

    .item{
        min-width: calc((100% - 20px) / 2);
        max-height:150px;
    }


}