/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    height:100vh;
}

/* Debug */
main{
    height:90%;
    min-height: 300px;
    width:100%;
    background-color: #141922;
    position:relative;
    display:flex;
    justify-content: space-between;
    flex-shrink: 0;
    overflow-y: hidden;
}
.fixed{
    position: fixed;
}

/* Navigazione destra */
.menu{
    width: 250px;
    height:100%;
    background-color: #000;
    z-index:10;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo{
    border: solid 1px #fff;
    width:80%;
    height:40px;
    margin:10px auto;
}
#logo img{
    color:#fff;
}

.nav{
    height:20%;
    max-height:40%;
}

.nav li{
    display: block;
    list-style: none;
    border: solid 1px #fff;
    padding: 5px 10px;
}
.nav a{
    color:#fff;
    text-decoration: none;
}

#special{
    width:80%;
    height: 60px;
    border: solid 1px #fff;
}

.menu h3{
    color:#fff;
    margin: 20px 10px;
}

.playlist{
    display: block;
    width:80%;
    min-height: 40%;
    overflow-y: scroll;
    margin: auto 10%; 
}
.playlist li{
    display: block;
    list-style: none;
    border: solid 1px #fff;
    padding: 5px 10px;
}
.playlist a{
    color:#fff;
    text-decoration: none;
}

#user{
    width: 90%;
    margin: 1px auto;
    max-height: calc(20% - 40px);
    height: calc(20% - 40px);
}
#app{
    height: calc(100% / 3);
    width:100%;
    border-bottom: 1px solid #fff;
}
#user-name{
    height: auto;
    width:100%;
}

.fa-circle-down{
    color:white;
    font-size:10px;
}

/* Barra Upgrade */
.premium{
    height:100px;
    width:100%;
    background:transparent;
    top:0;
    right:0;
    z-index:9;
}
.premium::before{
    content:"";
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:absolute;
}

#upgrade{
    float:right;
    margin: auto 3px;
    height: 40px;
    width: 100px;
    border: solid 1px #fff;
    margin:30px 3px;

}

.premium::after{
    content:"";
    display: table;
    clear:both;
}


/* Spazio contenuti */
.content{
    height:100%;
    width: calc(100% - 300px);
    background-color: #141922;
}

/* guida navigazione */
.player-nav{
    height:auto;
    width:50%;
    border: 1px solid #fff;
    margin:150px auto 0px auto;
}
.guided-choices{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.guided-choices li{
    display: inline-block;
    list-style: none;
    border: solid 1px #fff;
    padding: 5px 10px;
    max-width: calc(100% / 6);
}
.guided-choices a{
    text-decoration: none;
}

/* Spazio a scorrimento */
.overflow{
    width:100%;
    max-height:calc(100% - 100px);
    overflow-y: scroll;
}

.wrapper{
    height:250px;
    width:100%;
    padding: 10px;
    border:1px solid #fff;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    height:150px;
    width:calc((100% - 80px) / 6);
    border:1px solid #fff;
    margin: auto 5px;
}


/* player */
.player{
    height:10%;
    min-height: 60px;
    width:100%;
    background-color:#282828;
    z-index:11;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.graph{
    max-height:90%;
    min-height: 58px;
    max-width:calc (100% / 3);
    border: 1px solid #fff;
    height:50px;
    width: 50px;
}